[Unit]
Description=Scream audio receiver
After=pulseaudio.service

[Service]
User=pi
ExecStart=/usr/local/bin/scream
ExecReload=/bin/pkill scream
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
