[Unit]
Description=Scream audio receiver
After=sound.target

[Service]
ExecStart=/usr/bin/scream -o alsa
ExecReload=/bin/pkill scream
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
